<a href="https://colab.research.google.com/github/samrinniyas/Introduction-to-Data-Analytics/blob/main/revision5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def samrin():
  print("my name is jensyy")

In [2]:
samrin()

my name is jensyy

In [6]:
def samrin():
  print("My roll number is",23)

In [7]:
samrin()

My roll number is 23

In [8]:
def samrin(x):
  print("your roll number is",x)

In [9]:
x=int(input("enter your roll number"))
samrin(x)

enter your roll number12
your roll number is 12

In [12]:
def jensy(a,b,c,d):
  print("your name is",a)
  print("your roll number is",b)
  print("your email is",c)
  print("you are from",d)

In [13]:
a=input("enter your name")
b=int(input("enter your roll number"))
c=input("Enter your email")
d=input("enter your place")
jensy(a,b,c,d)

enter your namejensy
enter your roll number21
Enter your emailjensy@gmail.com
enter your placekakkanad
your name is jensy
your roll number is 21
your email is jensy@gmail.com
you are from kakkanad

In [18]:
def first():
  print("your first name is",x[0:6])
def last():
  print("your last name is",x[6:9])

In [19]:
x=input("enter your full name")
first()
last()

enter your full nameangel liz
your first name is angel
your last name is liz

In [20]:
def num1():
  print("first number is",y)
def num2():
  print("second number is",x)

In [21]:
x=int(input("enter first number"))
y=int(input("enter second number"))
num1()
num2()

enter first number1
enter second number3
first number is 3
second number is 1

In [22]:
def num1(x,y):
  x,y=y,x
  print("swapped numbers are", x,y)

In [23]:
x=int(input("enter 1st number"))
y=int(input("enter 2nd number"))
num1(x,y)

enter 1st number12
enter 2nd number7
swapped numbers are 7 12

In [29]:
def swap():
  print("number swapped is ",x[1]+x[0])

In [31]:
x=(input("enter a two digit number"))
swap()

enter a two digit number89
number swapped is  98