<a href="https://colab.research.google.com/github/samrinniyas/Introduction-to-Data-Analytics/blob/main/revision4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = "This is \"Python \" programming"
print(x)

This is "Python " programming

In [3]:
x = 'He\'s is a doctor'
print(x)

He's is a doctor

In [4]:
print("\"Fathima\" Samrin ")

"Fathima" Samrin

In [5]:
print("Fathima \nSamrin")

Fathima
Samrin

In [11]:
x=["Jhon","Mary","David", "Adam"]
y=input("enter a name")
z=int(input("enter index"))
x.insert(z,y)
print(x)

enter a namesamrin
enter index2
['Jhon', 'Mary', 'samrin', 'David', 'Adam']

In [16]:
def samrin():
  x=["samrin","angel","jency"]
  y=int(input("enter index"))
  n=input("enter a name")
  x.insert(y,n)
  print(x)

In [17]:
samrin()

enter index1
enter a nameliza
['samrin', 'liza', 'angel', 'jency']

In [19]:
def maths():
  x=int(input("enter a number"))
  y=int(input("enter asecond number"))
  print(x+y)
  print(x-y)
  print(x*y)
  print(x/y)

In [20]:
maths()

enter a number12
enter asecond number10
22
2
120
1.2

In [29]:
def ABC(a,b):
  print(a+b)

In [30]:
x=int(input("enter first value"))
y=int(input("enter second value"))
ABC(x,y)

enter first value10
enter second value20
30